#episode-list {
  height: auto;
  color: #BFB2AD;
  width: 100%;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 4rem 4rem 2rem 4rem;
}

#episode-list h1 {
  padding: 0 3rem;
}

#offices {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  padding: 2rem;
  margin: 0 auto;
}

#img_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 1rem;
}

.office_name {
  padding: 0.5rem;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
  cursor:pointer;
}

.office_name:hover {
  border-bottom: 1px solid red;
}
